<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Index</title>
    <link
            rel="stylesheet"
            href="{{url_for('static', filename='style.css')}}"
        />
        
</head>
<body>
    <header>
        <h1>Blogs Page</h1>
        <nav>
            <ul class="ul">
                <li class="list"><a class="menu" href="/">Blogs</a></li>
                <li class="list"><a class="menu" href="/about">About</a></li>
                <li class="list"><a class="menu" href="/resignation-letter">Resignation Letter</a></li>
            </ul>
        </nav>
    </header>

    <section>
        <h2> What's in your mind ?</h2>
    
        <form action="/add" method="post">
            <label>Title</label><br/>
            <input type="text" name="title"><br/>
            <label>Content</label><br>
            <textarea id cols="30" rows="10" name="content"></textarea><br/><br/>
            <button type="submit">Add new blog</button>

        </div>
        {% if error %}
            <p style="color: red;">Bạn cần nhập đầy đủ thông tin title và content</p>
        {% endif %}
    
        </form>
    </section>

    <section>
        <h1>All blogs</h1>
    
        <!--{#-->
        <!--Jinja template-->
        <!--{% %} - một câu lệnh python-->
        <!--{{ }} - một biểu thức, in ra kết quả-->
        <!--#}-->
    
        

        <div class="list-posts"> 
            {% if not blogs %}
                <p>Không có bất kỳ bài post nào trong CSDL</p>
            {% endif %}
            
            {% for blog in blogs %}
            <hr>
            <div class="post">
                <div class="post-header">
                    <p class="post-at">Post at: {{blog[3]}}</p>
                </div>
        
                <div class="post-detail">
                    <h3 class="post-title"> Title: {{ blog[1] }}</h3>
                    <p class="post-detail"> Content: {{blog[2]}}</p>
                    <a href="/{{blog[0]}}">Edit this post</a>
                </div>
            </div>  
            
            {% endfor %}                       
             
        </div>
    
    
    
    </section>
    <footer>
        <hr>
        <p class="copy-right">Blogs 2021</p>
    </footer>
</body>
</html>